html{
    scroll-behavior: smooth;
    cursor: url('Imagenes/snorlax.PNG'),auto;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    max-width: 100%;
    overflow:scroll;
}

/* Estilos para encabezado*/
header .imagenes  {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
header .titulo{
    height: 15%;
    width: 45%;
    padding-right: 30%;
    display: block;
}
header .logo{
    height: 25vw;
    width: 100vw;
}

/*Estilos para barra de navegación*/
#box_navegador{
    margin-top: 1%;
    
    justify-content: space-between;
}
nav .buscador{
    display: flex;
    justify-content: right;
    padding: 9px 10px 9px 100px;
    font-size: 15px;
    border-radius: 15px;
    outline:none;
    border: none;
    background: url(Imagenes/pikachu.PNG) no-repeat 1px center;
    width: 100px;
    transition: all .5s;
    height: 75px;
} 
input.buscador:hover, input.buscador:focus, input.buscador:active{
    width: 260px;
    background-color: rgb(250, 250, 249);
    border-color: rgb(236, 236, 9);
    box-shadow: 0px 0px 10px white, 0px 0px 20px rgb(200, 220, 20);
}
nav .buscar{
    padding-left: 20px;
    width: 230px;
    height: 80px;
}
/*Estilo para lista desplegable*/
nav ul li{
    list-style:none;
    z-index: 3;
}
.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.lista li:hover > .tipos_de{
    display: flex;
    flex-wrap: wrap;
}
.lista li:hover > .ordenar_por{
    display: flex;
    flex-direction: column;
}
.lista li a{
    text-decoration: none;
    font-family: 'Grandstander',cursive;
    font-size: 20px;
    background-color: #3f54ac;
    color: blanchedalmond;
    box-shadow: 0px 0px 5px white, 0px 0px 15px rgb(78, 78, 78);
    display: block;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    height: 30px;
}

.lista li .submenu{
    width: 80px;
    font-size: 18px;
    text-align: center;
    font-family: 'Grandstander',cursive;
}
.lista li .ordenar{
    width: 80px;
    font-size: 18px;
    text-align: center;
    font-family: 'Grandstander',cursive;
}
.lista > li{
    float: left;
}
.box-filtros{
    width:auto;
    height: 80px;
    display: flex;
    justify-content: center;
    display: inline-block;
}
nav .lista{
    margin:0%;
    padding: 0%;
}
.tipos_de{
    width: 300px;
}
/*Estilos botones de calcular y top 10*/
nav .btns-calculo-top-all{
    width: auto;
    height: 80px;
    margin-right: 15px;
    
}
nav .btns{
    height: 50px;
    width: 90px;
    border-radius: 15px;
    font-family: 'Grandstander',cursive;
    font-size: 18px;
    background-color: #3f54ac;
    border-style: none;
    color: blanchedalmond;
    cursor: pointer;
    box-shadow: 0px 0px 5px white, 0px 0px 15px rgb(78, 78, 78);
}

nav .btns-calculo-top-all #btn-all{
    width: 150px;
}

/*color para subitem ordenar*/
nav .ordenar_por .ordenar:hover{
    background-color: #b4b3b3;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}

/*color para subitems */
nav .tipos_de #normal:hover{
    background-color: #A8A878;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #fighting:hover{
    background-color: #C02038;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #flying:hover{
    background-color: #A890F0;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #poison:hover{
    background-color: #A040A0;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #ground:hover{
    background-color: #E0C068;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #rock:hover{
    background-color: #B8A038;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #bug:hover{
    background-color: #A8B820;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #ghost:hover{
    background-color: #705898;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #steel:hover{
    background-color: #B8B8D0;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #fire:hover{
    background-color: #F08030;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #water:hover{
    background-color: #6890F0;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #grass:hover{
    background-color: #78C850;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #electric:hover{
    background-color: #F8D030;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #psychic:hover{
    background-color: #F85888;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #ice:hover{
    background-color: #98D8D8;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #dragon:hover{
    background-color: #7038F8;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #dark:hover{
    background-color: #705848;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
nav .tipos_de #fairy:hover{
    background-color: #EE99AC;
    color: transparent;
    font-size: 20px;
    font-family: 'Atma', cursive;
    transform: scale(1.2);
    padding: 5px 5px 5px 5px;
    -webkit-text-stroke: 0.8px rgb(8, 8, 8);
}
/*Estilos cards*/
#root{
    width: 100%;
    max-width: 1200px;
    height: auto;
    
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
#root .card{
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #E0E0E0 26%, #201F1F 48%, #E91919 75%, #E91919 10%);
    border: 5px solid rgb(255, 255, 255) ;
    border-radius: 150px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 20px;
    font-family: 'Grandstander',cursive;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 0 20px 20px rgba(177, 189, 240, 0.2);
    display: flex;
    flex-direction: column;
}
#root .card label{
    position: relative;
    top:30px;
}
#root .card:hover{
    transform: translateY(-15px);
}
#root .card div{
    background-size: cover;
    margin-top: 40px;
    align-items: center;
}
#root .card .letras{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}
#root .card .type{
    margin-top: -35px;
}
.card .letras label{
    color: rgb(250, 250, 249);
    font-size: 20px;
    text-transform: capitalize;
}
.card .type label{
    font-size: 18px;
    text-transform: capitalize;
}

/*Estilos para modal*/

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 4;
  }
  .modal::before{          /*pseudoelemtos*/
    content: url(Imagenes/iconoCerrar.png);
    position: absolute;
    top: 1vw;
    right:23vw;
  }
  .modal-card{
    background-image: url(Imagenes/Pokedex2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 90%;
    text-align: center;
  }

  /*Estilos para contenido de modal*/
  .modal .modal-card .encabezado{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    margin-top: 8vw;
  }
  .modal-card .encabezado label{
      font-size: 2.5vw;
      font-family: 'Atma';
      color: chocolate;
      font-weight: bold;
  }
  .modal-card #nameModal{
    margin-left: 10vw;
  }
  .modal-card #nameGeneration{
    font-size: 2vw;
    font-family: 'Atma';
    margin-right: 8vw;
    font-weight: bold;
  }
  .modal-card .descripcion{
    display: flex;
    width: 45vw;
    height: 5vw;
    background-color: #ffffffcc;
    border-radius: 1vw;
    margin-left: 18vw;
    padding: 1%;
    border: dashed  #0B69A3;
  }
  .modal-card .descripcion #about{
      font-size: 1vw;
      font-family: 'Roboto Mono';
      font-weight: 900;
  }
  .resis-debil-peso-altura{
    display: flex;
    justify-content: space-evenly;
    margin-right: 7vw;
  }
.poderes{
    display: flex;
    flex-direction: column;
}
.poderes>div{
    margin: 5px;
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-size: 1vw;
    text-transform: capitalize;
    background-color:rgb(250, 250, 249);
    width: 20vw;
    border-radius: 1vw;
    border: dashed #2CD8D5;
}
.peso-altura{
    display: flex;
    flex-direction: column;
}
.peso-altura>label{
    margin: 5px;
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-size: 1vw;   
    background-color:rgb(250, 250, 249);
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    border: dashed #F8D030;
}

/*Estilos para lista desplegable de nombres de pokemon*/

.estadistica{
    display:none;
    margin-left: 20vw;
}

.desocultar{
    display: flex;
}
.ocultar{
    display: none;
}

.estadistica >select{
    height: 3.5vw;
    width: 15vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: 'Benne',serif;
    text-transform: capitalize;
}

.estadistica>button{
    height: 3.5vw;
    width: 8vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: 'Benne',serif;
    text-align: center; 
}

.atras{
    height: 3.5vw;
    width: 8vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: 'Benne',serif;
    text-align: center; 
    float: left;
    margin-right: 20vw;
}

.arriba{
    display: inline-block; /*modificar los margenes internos*/
    padding: 0;
    position: fixed; /*siempres se mostrará*/
    bottom: 0;
    right: 0;
    display: none;
}
.flechita{
    width: 8vw;
    height: 10vw;
}

/*PÁGIAN DE INICIO*/

.FondoInicio{
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

.labelIni{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke: 0.9px rgb(8, 8, 8);
   
}

.entrenador{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entrenador .nombreEntrenador{
    font-size: 20px
}

.entrenador .ingresarPokedex{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #fdce04;
    border-radius: 6px;
    border: 2px solid #fdce04;
  }
  .entrenador .ingresarPokedex:hover{
    color: #1883ba;
    background-color: #ffffff;
    border: 2px solid #1883ba;
  }



.divlogo{
    background: rgba(8,34,78,.9);
}

.pika{
    height: 60px;
    width: 80px;
    float: right;
}

.logoCentro{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 40%;
}

#divlogo{
    background: rgba(8,34,78,.9);
    justify-content: space-between;
}
.pikaDos{
    height: 60px;
    width: 80px;
}
.pokebola{
    height: 60px;
    width: 70px;
}

/*Letra de Bienvenida*/
#Bienvenidos{
    color: #fff;
    font-size: 30px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    -webkit-text-stroke: 0.9px rgb(8, 8, 8);
   
}